<div class="container">
  <app-form>
  </app-form>

  <div class="card" style="width: 20rem;" *ngFor="let articles of article | orderBy: 'point':'reverse'">
    <div class="card-block">

      <h2 class="card-title">{{ articles.point }}</h2>
      <a [href]=""><h3 class="card-text">{{ articles.title }}</h3></a>
      <h4 class="card-text" style="color:#5A5858;">{{ articles.link }}</h4>
      <a href="#" class="btn btn-primary" (click)="onUpVote()">Upvote</a>
      <a href="#" class="btn btn-primary" (click)="onDownVote()">Downvote</a>
    </div>
  </div>
</div>
